* {
  box-sizing: border-box;
}
.inputt {
  margin: auto;
  width: 40%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
}
.inputt div label,
.inputt div input {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: black;
}
.inputt div label {
  font-weight: bolder;
}
.inputt button {
  background-color: rgb(88, 18, 154);
  border: none;
  color: white;
  padding: 8px;
}
.inputt button:hover {
  cursor: pointer;
}
.inputt div input:focus {
  outline: none;
  border-color: rgb(88, 18, 154);
}
