* {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  /* background-color: #111; */
  height: 69px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.navbar div {
  object-fit: contain;
}
