* {
  box-sizing: border-box;
}
.movieList::-webkit-scrollbar {
  display: none;
}
.movieList {
  display: flex;
  /* background-color: red; */
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 6px;
  padding: 16px;
}
.poster {
  width: 100%;
  height: 100px;
  object-fit: contain;
  border-radius: 3px;
}
.poster:hover {
  transform: scale(1.09);
  transition-duration: 500ms;
}
.poster_large {
  height: 250px;
}
.poster_large:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}
.test{
    margin-left: 10px;
}
.test h3,.test h1{
  color: white;
}